body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #92B4E6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #92B4E6;
    transition: left 0.3s ease;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 2000;
}

.sidebar.open {
    left: 0;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #606D81;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    color: #668FCD;
}

.sidebar a.active {
    background-color: #668FCD;
    color: white;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sidebar .logo img {
    max-width: 100px;
    height: auto;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    color: #606D81;
    cursor: pointer;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #92B4E6;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    position: absolute;
}

.main {
    margin-left: 0;
    transition: margin-left 0.3s;
    padding: 20px;
}

.main.shifted {
    margin-left: 250px;
}

.create-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #668FCD;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.create-btn:hover {
    background-color: #606D81;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
