body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #92B4E6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.sidebar a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .closebtn {
    font-size: 36px;
}

.sidebar.active {
    width: 250px;
}

.main-content {
    transition: margin-left .5s;
    padding: 20px;
    width: 100%;
}

.main-content.sidebar-active {
    margin-left: 250px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.plus-button {
    font-size: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#close-popup-btn {
    margin-top: 10px;
    background-color: #f44336;
}

#close-popup-btn:hover {
    background-color: #e53935;
}

.icon {
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
